*{
	font-family: 'Raleway', sans-serif; 
}
body
{
	margin: 0 auto;
}
.container{
	font-size: medium;
	margin: 50px;
}
h1, h2, h3{
	font-weight: 800;
}
a{
	text-decoration: none;
	color: grey;
}
i{
	margin-right: 10px;
}
p{
	font-size: large;
}
/*Haut de page*/

.logo a img{
	width: 100px;
}
header{
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 50px;									
	top: 0;
	align-items: center;
	background-color: white;

}
/*menu de navigation*/ 
nav li{
	display: inline-block;
	padding-left:  40px;

}
nav {
	border-top: 2px solid transparent;
}
nav a:hover{
	color: #0065FC;
	border-top: 2px solid #0065fc;
	padding:  55px 0;
}
#nav-link {
	color: #0065fc;
}

/*titre et barre de recherche*/

.form-group{
  	display: flex;
  	margin: 30px 0px 30px 0px ;
}
.form-group i {
	background-color: #F2F2F2;
	padding: 10px;
	border-radius: 10px 0px 0px 10px;
}
input{
	padding: 8px;
	width: 250PX;
	border-style: ridge none;
	border-width: 1px;
	border-color: #F2F2F2;
}
.button-find{
	border-radius: 0px 10px 10px 0px;
	border: 0;
		width: 125PX;
	background-color: #0065FC;
	color: white;
	font-weight: 700;
	font-size: medium;
}
::placeholder, .rechercher{
	font-weight: 800;
	font-size: medium;
}

/*filtres*/

.filters{
	display: flex;
	width: 100%;
	align-items:  center;
	flex-wrap: wrap;
}

.filters i{
  background-color: #deebff;
  color:#0065FC;
  border-radius:30px;
  padding: 15px 15px 15px 15px;
position: relative;
right: 5px;
}

.button-filter{
    background-color: #fff;
	border-radius: 100px 100px 100px 100px;
	border-style: solid;
	border-color:#e7e7e7;
	border-width: 2px;
	cursor: pointer;
	font-size: large;
    font-weight: 800;
    padding: 0px 25px 0px 0px;
    margin-left: 40px;
}
.button-filter:hover {
  	background-color: #F2F2F2;
}

.info{
	padding: 20px 0px 20px 0px;
}
.fa {
	color: #0065FC;
}

/*hebergement et populaires*/
.box-hebergements-populaires{
	display: grid;
	width: 100%;
	grid-template-columns: 880px 360px;
	grid-template-areas:"hebergements populaires"
					 	"activites activites";
	justify-content:  space-between;
	grid-gap: 20px;
}
.box-title-hebergements h3{
	margin-left:30px ;
}
/*hebergements*/
.box-title-hebergements{
	background-color: #F2F2F2;
	border-radius:20px;
	padding: 20px;
	width: 100%;
grid-gap: 10px;
}


.box-hebergements{
	display: flex;
	grid-area:hebergements;
	width: 100%;
	flex-wrap: wrap;
	grid-row-gap:40px;
	justify-content: space-around;

}
.box-hebergements img {
	object-fit: cover;
	border-radius:20px;
	padding:5px; 
	width: 240px;
	height:200px;
	box-shadow: 0 0 20px 1px rgba(160, 160, 160, 1);
}
.end-block{
	padding: 30px;
	font-weight: 800;
}

/*populaires*/

.box-title-populaires{
	background-color: #F2F2F2;
	border-radius:20px;
	padding: 20px;
	width: 100%;
}

.box-populaires{
	display: flex;
	grid-area: populaires;
	width: 100%;
	flex-direction: column;
	grid-gap:30px;
	flex-wrap: wrap;
	align-content: center;
}
.box-title-populaires h3{
	margin-left: 10px;
}
.box-title-populaires h3 i{
	padding-left: 100px;
}
.box-populaires img {
	object-fit: cover;
	border-radius:20px;
	width: 300px;
	height: 140px;
	box-shadow: 0 0 20px 1px rgba(160, 160, 160, 1);
	padding:5px;
}

/*activites*/

.box-title-activites{
	display: grid;
	width:100%;
	grid-area:activites;
	grid-template-columns: repeat(4, 1fr); 
  	grid-template-rows: 50px 150px 40px 150px;
}
.box-title-activites img {
	border-radius:20px;
	width: 240px;
	height:100%;
	object-fit: cover;
	box-shadow: 0 0 20px 1px rgba(160, 160, 160, 1);
}
.title-box-title-activites {
  grid-column-start: 1; 
  grid-column-end: 1; 
  grid-row-start: 1; 
  grid-row-end: 1; 
}
.vignettes-activites-vieuxport { 
  grid-column-start: 1; 
  grid-column-end: 1; 
  grid-row-start: 2; 
  grid-row-end: 5; 
} 
.vignettes-activites-fortdepormegues { 
  grid-column-start: 2; 
  grid-column-end: 2; 
  grid-row-start: 2; 
  grid-row-end: 4; 
}
.vignettes-activites-ilesdesfrioul { 
  grid-column-start: 2; 
  grid-column-end: 2; 
  grid-row-start: 4; 
  grid-row-end: 5; 
} 
.vignettes-activites-parcnationaldescalanques { 
  grid-column-start: 3; 
  grid-column-end: 3; 
  grid-row-start: 2; 
  grid-row-end: 5; 
}
.vignettes-activites-notredamedelagarde { 
  grid-column-start: 4; 
  grid-column-end: 4; 
  grid-row-start: 2; 
  grid-row-end: 3; 
} 
.vignettes-activites-parclongchamp { 
  grid-column-start: 4; 
  grid-column-end: 4; 
  grid-row-start: 3; 
  grid-row-end: 5; 
}
footer{
	grid-area: footer;
	display: flex;
	background-color: #F2F2F2;
	width: 100%;
	bottom: 0;
	text-align: left;
	grid-gap: 250px;
}
footer ul{
	list-style:none;
	display: inline-block;
	text-decoration: none;
}
@media screen and (max-width: 500px)
{
	.box-hebergements-populaires{
		grid-template-columns: 1fr;
		grid-template-rows: 0.5fr 0.2fr 0.2fr 0.2fr 0.5fr 0.2fr;
		grid-template-areas:"menu"
							"search"
							"filters"
							"hebergements"
							"populaires"
							"footer";
	}
}