* {
  font-family: "Raleway", sans-serif;
}
body {
  margin: 0 auto;
  position: relative;
}
.container {
  font-size: medium;
  margin: 50px;
}
h1,
h2,
h3 {
  font-weight: 800;
}
a {
  text-decoration: none;
  color: grey;
}
p {
  font-size: large;
}
.fa-star {
  margin-right: 10px;
}

/*Haut de page*/
.logo a img {
  width: 100px;
}
header {
  display: flex;
  position: sticky;
  justify-content: space-between;
  top: 0;
  padding: 1rem 3rem;
  background-color: white;
  z-index: 9;
  flex-wrap: wrap;
}

/*menu de navigation*/
nav li {
  display: inline-block;
  padding-left: 100px;
}
nav a:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
  padding: 28px 0;
}
#nav-link {
  color: #0065fc;
}

/*titre et barre de recherche*/
.form-group {
  display: flex;
  margin: 30px 0px 30px 0px;
}
.form-group i {
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 10px 0px 0px 10px;
}
input {
  padding: 8px;
  width: 250px;
  border-style: ridge none;
  border-width: 1px;
  border-color: #f2f2f2;
  font-weight: 800;
  font-size: medium;
}
.button-find {
  border-radius: 0px 10px 10px 0px;
  border: 0;
  width: 125px;
  background-color: #0065fc;
  color: white;
  font-weight: 700;
  font-size: medium;
}

/*filtres*/

.filters {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  margin-left: 10px;
}
.filters i {
  background-color: #deebff;
  color: #0065fc;
  border-radius: 30px;
  padding: 15px 15px 15px 15px;
  position: relative;
  right: 5px;
}
.button-filter {
  background-color: #fff;
  border-radius: 100px 100px 100px 100px;
  border-style: solid;
  border-color: #e7e7e7;
  border-width: 2px;
  cursor: pointer;
  font-size: large;
  font-weight: 800;
  padding: 0px 25px 0px 0px;
  margin-left: 40px;
}
.button-filter:hover {
  background-color: #f2f2f2;
}

.info {
  padding: 20px 0px 20px 0px;
  margin-left: 10px;
}
.fa-info-circle {
  color: #0065fc;
}

/*hebergement et populaires*/
.box-hebergements-populaires {
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-column-gap: 50px;
}

/*hebergements*/
.box-title-hebergements {
  position: relative;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 30px;
}
.box-title-hebergements h3 {
  margin-left: 15px;
}
.box-hebergements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  grid-gap: 40px;
  padding-bottom: 40px;
}
.box-hebergements img {
  width: 100%;
  height: 170px;
  border-radius: 20px 20px 0px 0px;
}

/* Details des vignettess hebergements */
.vignettes-hebergements {
  background-color: #fff;
  border-radius: 20px;
  padding: 5px 5px 10px 5px;
}
.hebergements-name {
  font-weight: 800;
  font-size: 18px;
  margin-left: 10px;
}
.hebergements-prix {
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px;
}
.blue {
  color: #0065fc;
}
.grey {
  color: silver;
}
.hebergements-star-rating {
  letter-spacing: -10px;
  text-align: left;
  font-size: small;
  margin-left: 10px;
}
.end-block {
  position: absolute;
  bottom: 30px;
  margin-left: 20px;
  font-weight: 800;
}

/*populaires*/
.box-title-populaires {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 30px;
}
.box-populaires {
  display: flex;
  flex-direction: column;
  grid-gap: 50px;
}
.box-title-populaires h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-populaires img {
  border-radius: 20px 0px 0px 20px;
  padding: 5px 0px 5px 5px;
}

/* Details des vignettess populaires */
.vignettes-populaires {
  display: grid;
  grid-template-columns: 40% 60%;
  border-radius: 20px 20px 20px 20px;
  background-color: white;
}
.vignettes-populaires-gauche {
  width: 100%;
  height: 180px;
}
.block-populaires-details {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: black;
  margin-left: 30px;
  margin-right: 50px;
  justify-content: space-between;
}
.populaires-name {
  font-weight: 800;
  font-size: 18px;
}
.populaires-prix {
  font-size: 16px;
  font-weight: 500;
}
.populaires-star-rating {
  letter-spacing: -10px;
  text-align: left;
  font-size: small;
  margin-bottom: 20px;
}
/*activites*/
.box-title-activites {
  padding-top: 20px;
}
.box-activites {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 35%);
  grid-gap: 30px;
}
.image-activites {
  width: 100%;
  height: 100%;
  transform-origin: 50% 65%;
  transition: transform 5s, 3s ease-in-out;
}
.image-activites:hover {
  transform: scale(3);
}
.activites-name {
  display: flex;
  flex-direction: column;
  font-weight: 800;
  font-size: 16px;

  text-align: start;
  width: 100%;
  height: 40px;
  z-index: 9;
  background-color: rgb(240, 18, 18);
}

.vignettes-activites-vieuxport {
  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
  z-index: 0;
}
.vignettes-activites-fortdepomegues {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 18, 18);
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
}
.vignettes-activites-ilesdufrioul {
  grid-column: 2/3;
  grid-row: 2/2;
  flex-direction: column;
  align-self: flex-end;
  background-color: rgb(240, 18, 18);
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
}
.vignettes-activites-parcnationaldescalanques {
  grid-column: 3/4;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 18, 18);
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
}
.vignettes-activites-notredamedelagarde {
  grid-column: 4/5;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  align-self: flex-start;
  background-color: rgb(240, 18, 18);
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
}
.vignettes-activites-parclongchamp {
  grid-column: 4/5;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  background-color: rgb(240, 18, 18);
  border-radius: 20px 20px 20px 20px;
  overflow: hidden;
}
footer {
  display: flex;
  background-color: #f2f2f2;
  width: 100%;
  bottom: 0;
  justify-content: space-between;
  align-items: start;
}
footer ul {
  list-style: none;
  display: inline-block;
  text-decoration: none;
  text-align: left;
}
@media screen and (max-width: 600px) {
  .box-hebergements-populaires,
  .box-title-hebergements,
  .box-title-populaires,
  .box-hebergements,
  .box-activites {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
