* {
  font-family: "Raleway", sans-serif;
}
body {
  margin: 0 auto;
  position: relative;
}
.container {
  font-size: medium;
  margin: 50px;
}
h1,
h2,
h3 {
  font-weight: 800;
}
a {
  text-decoration: none;
  color: grey;
}
p {
  font-size: large;
}
.fa-star {
  margin-right: 10px;
}

/*Haut de page*/
.logo a img {
  width: 100px;
}
header {
  display: flex;
  position: sticky;
  justify-content: space-between;
  top: 0;
  padding: 1rem 3rem;
  background-color: white;
  z-index: 9;
  margin-bottom: 10px;
}

/*menu de navigation*/
nav li {
  display: inline-block;
  padding-left: 90px;
}
nav a:hover {
  color: #0065fc;
  border-top: 2px solid #0065fc;
  padding: 28px 0;
}
#nav-inscrire {
  color: #0065fc;
}
/* decallage vers le bas ancres */
section:target {
  padding-top: 5em;
  margin-top: -5em;
}
/*titre et barre de recherche*/
.form-group {
  display: flex;
  margin: 30px 0px 30px 0px;
}
.form-group i {
  background-color: #f2f2f2;
  padding: 15px;
  border-radius: 10px 0px 0px 10px;
}
input {
  padding: 8px;
  width: 200px;
  border-style: ridge none;
  border-width: 1px;
  border-color: #f2f2f2;
  font-weight: 800;
  font-size: medium;
}
.button-search-text {
  cursor: pointer;
  border-radius: 0px 10px 10px 0px;
  border: 0;
  width: 125px;
  background-color: #0065fc;
  color: white;
  font-weight: 700;
  font-size: medium;
}
.button-search-icon {
  display: none;
  cursor: pointer;
  border-radius: 15px 15px 15px 15px;
  background-color: white;

  border: 0;
  font-size: large;
}
.button-search-icon i {
  display: none;
  background-color: #0065fc;
  border-radius: 15px 15px 15px 15px;
  color: white;
  width: 18px;
  align-items: center;
}

/*filtres*/

.section-filters {
  display: flex;
  width: 100%;
  align-items: center;
  margin-left: 10px;
}
.filters i {
  background-color: #deebff;
  color: #0065fc;
  border-radius: 30px;
  padding: 15px 15px 15px 15px;
  position: relative;
  margin-right: 10px;
}
.button-filter {
  background-color: #fff;
  border-radius: 100px 100px 100px 100px;
  border-style: solid;
  border-color: #e7e7e7;
  border-width: 2px;
  cursor: pointer;
  font-size: large;
  font-weight: 800;
  padding: 0px 25px 0px 0px;
  margin-left: 40px;
}
.button-filter:hover {
  background-color: #f2f2f2;
}

.info {
  padding: 20px 0px 20px 0px;
  margin-left: 10px;
}
.fa-info-circle {
  color: #0065fc;
}

/*hebergement et populaires*/
.box-hebergements-populaires {
  display: grid;
  grid-template-columns: 7fr 3fr;
  grid-column-gap: 50px;
}

/*hebergements*/
.box-title-hebergements {
  position: relative;
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 30px;
}
.box-title-hebergements h3 {
  margin-left: 15px;
}
.box-hebergements {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  grid-gap: 40px;
  padding-bottom: 40px;
}
.box-hebergements img {
  width: 100%;
  height: 170px;
  border-radius: 20px 20px 0px 0px;
}

/* Details des vignettess hebergements */
.vignettes-hebergements {
  background-color: #fff;
  border-radius: 20px;
  padding: 5px 5px 10px 5px;
  box-shadow: 8px 8px 12px #aaa;
}
.hebergements-name {
  font-weight: 800;
  font-size: 18px;
  margin-left: 10px;
}
.hebergements-prix {
  font-size: 16px;
  font-weight: 500;
  margin-left: 10px;
}
.blue {
  color: #0065fc;
}
.grey {
  color: silver;
}
.hebergements-star-rating {
  letter-spacing: -10px;
  text-align: left;
  font-size: small;
  margin-left: 10px;
}
.end-block {
  font-weight: 800;
}

/*populaires*/
.box-title-populaires {
  background-color: #f2f2f2;
  border-radius: 20px;
  padding: 30px;
}
.box-populaires {
  display: flex;
  flex-direction: column;
  grid-gap: 50px;
}
.box-title-populaires h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box-populaires img {
  border-radius: 20px 0px 0px 20px;
  padding: 5px 0px 5px 5px;
}

/* Details des vignettess populaires */
.vignettes-populaires {
  display: grid;
  grid-template-columns: 40% 60%;
  border-radius: 20px 20px 20px 20px;
  background-color: white;
  box-shadow: 8px 8px 12px #aaa;
}
.vignettes-populaires-gauche {
  width: 100%;
  height: 180px;
}
.block-populaires-details {
  display: flex;
  flex-direction: column;
  text-align: left;
  color: black;
  margin-left: 30px;
  margin-right: 50px;
  justify-content: space-between;
}
.populaires-name {
  font-weight: 800;
  font-size: 18px;
}
.populaires-prix {
  font-size: 16px;
  font-weight: 500;
}
.populaires-star-rating {
  letter-spacing: -10px;
  text-align: left;
  font-size: small;
  margin-bottom: 20px;
}
/*activites*/
.box-title-activites {
  padding-top: 40px;
}
.box-activites {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 18vw);
  grid-gap: 30px;
}
.image-activites {
  width: 100%;
  height: 100%;
  transform-origin: 50% 65%;
  transition: transform 5s, 3s ease-in-out;
}
.image-activites:hover {
  transform: scale(3);
}
.activites-name {
  position: absolute;
  margin: 0;
  bottom: 0;
  padding: 15px;
  font-weight: 800;
  font-size: 16px;
  width: 100%;
  height: 20px;
  background-color: rgb(252, 252, 252);
  border-radius: 0px 0px 20px 20px;
}
.vignettes-activites-vieuxport {
  grid-column: 1/2;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 8px 8px 12px #aaa;
  overflow: hidden;
}
.vignettes-activites-fortdepomegues {
  grid-column: 2/3;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 8px 8px 12px #aaa;
  overflow: hidden;
}
.vignettes-activites-ilesdufrioul {
  grid-column: 2/3;
  grid-row: 2/2;
  flex-direction: column;
  position: relative;
  align-self: flex-end;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 8px 8px 12px #aaa;
  overflow: hidden;
}
.vignettes-activites-parcnationaldescalanques {
  grid-column: 3/4;
  grid-row: 1/3;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 8px 8px 12px #aaa;
  overflow: hidden;
}
.vignettes-activites-notredamedelagarde {
  grid-column: 4/5;
  grid-row: 1/2;
  display: flex;
  flex-direction: column;
  position: relative;
  align-self: flex-start;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 8px 8px 12px #aaa;
  overflow: hidden;
}
.vignettes-activites-parclongchamp {
  grid-column: 4/5;
  grid-row: 2/3;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 8px 8px 12px #aaa;
  overflow: hidden;
}
footer {
  display: flex;
  background-color: #f2f2f2;
  width: 100%;
  bottom: 0;
  justify-content: space-around;
}
footer ul {
  list-style: none;
  display: inline-block;
  text-decoration: none;
  text-align: left;
  padding: 0;
  margin: 0;
}
.a-propos,
.nos-hebergements,
.assistance {
  margin-bottom: 10px;
}
/* Smartphone jusqu'a 767px de large*/
@media screen and (max-width: 767px) {
  .container,
  .box-hebergements-populaires,
  .box-hebergements,
  .box-populaires {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 0.5rem;
    text-align: start;
    padding: 0;
    margin: 0;
    grid-gap: 0;
  }
  h1,
  h2,
  h3 {
    font-weight: 700;
  }
  P {
    font-size: medium;
  }
  header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 0;
    margin: 0;
    align-items: center;
    border-bottom-style: solid;
    border-color: #f2f2f2;
  }
  .section-search {
    padding: 10px;
    text-align: center;
  }
  .button-search-text {
    display: none;
  }
  .button-search-icon,
  .button-search-icon i {
    display: block;
  }
  ul,
  nav {
    display: contents;
  }
  ul li {
    padding: 20px;
  }
  .logo img {
    margin-left: 10px;
  }
  .nav-responsive-hebergements {
    order: 3;
    width: auto;
    text-align: center;
  }
  .nav-responsive-activites {
    order: 4;
    width: auto;
    text-align: center;
  }
  .nav-responsive-inscrire {
    order: 2;
    width: auto;
    text-align: right;
  }
  section:target {
    padding-top: 7em;
  }
  nav a:hover {
    border-top: none;
    padding: 0;
  }
  .nav-responsive-hebergements:hover,
  .nav-responsive-activites:hover {
    border-bottom: 2px solid #0065fc;
    border-top-style: none;
  }
  .section-search {
    padding: 0.5rem;
  }
  .form-group {
    margin: 0;
  }
  .filters {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    padding: 0.5rem;
    text-align: start;
    margin: 0;
    align-items: stretch;
  }
  .button-filter {
    text-align: start;
    margin: 5px;
  }
  .box-hebergements-populaires {
    display: flex;
    flex-direction: column-reverse;
  }
  .box-title-populaires {
    padding: 15px;
    border-radius: 0px;
  }
  .vignettes-populaires {
    margin-bottom: 10px;
  }
  .vignettes-populaires-gauche {
    height: 120px;
  }
  .block-populaires-details {
    margin-right: 5px;
    margin-left: 20px;
  }
  .populaires-name,
  .populaires-prix {
    font-size: 14px;
  }
  .populaires-star-rating {
    margin-bottom: 10px;
  }
  .box-title-hebergements {
    padding: 15px;
    background-color: transparent;
  }
  .vignettes-hebergements {
    margin-bottom: 15px;
  }
  .vignettes-hebergements p,
  .hebergements-star-rating {
    padding: 2px;
    margin: 0 0 0 10px;
  }
  .box-hebergements img {
    height: 130px;
    border-radius: 20px 20px 0px 0px;
  }
  .box-title-activites {
    padding: 15px;
  }
  .box-activites {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .image-activites {
    height: 150px;
  }
  footer {
    display: block;
    width: auto;
    margin: 0;
    padding: 1rem 0.5rem;
  }
  footer ul li {
    padding: 0;
  }
}
/* Tablette de 767px a 1024px de large */
@media screen and (max-width: 1024px) {
  .section-search {
    text-align: center;
  }
  .form-group {
    justify-content: center;
  }
  .section-filters {
    display: block;
    align-items: start;
    justify-content: space-around;
    text-align: center;
  }
  .filters {
    width: auto;
    padding: 0.5rem;
    margin: 0;
  }
  .button-filter {
    text-align: start;
    margin: 5px;
    font-size: medium;
  }
  .box-hebergements-populaires {
    display: flex;
    flex-direction: column-reverse;
  }
  .box-title-populaires {
    margin-bottom: 20px;
  }
}
